TARGET		${{PY2SIS_APPNAME}}_${{PY2SIS_UID}}.exe
TARGETTYPE	exe
UID		0x100039ce ${{PY2SIS_UID}}
EPOCSTACKSIZE 65536

CAPABILITY ${{PY2SIS_CAPS}}

OPTION 	CW -w nounusedarg

SOURCE		PyTest.cpp //XXX

USERINCLUDE . \epoc32\include\python
SYSTEMINCLUDE	\epoc32\include \epoc32\include\libc

LIBRARY Python_appui.lib
LIBRARY euser.lib apparc.lib
LIBRARY eikcore.lib avkon.lib

START RESOURCE PyTest.rss //XXX
HEADER
TARGETPATH      resource\apps
//LANG  SC //only needed for localized application
END

START RESOURCE PyTest_reg.rss
TARGETPATH \private\10003a3f\apps
END

${{if PY2SIS_AUTOSTART>0
START RESOURCE ${{PY2SIS_UID[2:]}}.rss
TARGETPATH      \Resource\Apps
END
}}
VENDORID	  	  0
