body {
font-size: 1em;
margin: 0px;
padding: 0px;
text-align: center;
}

/* form */
.search_form {
	background-color: #FFF;
}

.search_form img {
	vertical-align: middle;
	margin: 3px 0px 3px 0px;
}

.search_form span {
	font-weight: bold;
	vertical-align: middle;
}

.search_box {
	vertical-align: middle;
}

.submit {
	vertical-align: middle;
}

.pages {
	border-bottom: 1px solid #00F;
	border-top: 1px solid #00F;
}

/* result */
#search_result {
}

.result_item {
	background-color: #E8E8E8;
	margin-bottom: 1px;
	border-bottom: 1px solid #000;
}

.item_number {
	height: 1.5em;
}

.aya_info {
}

.quran {
	background-color: #FFF;
	font-size: 1.2em;
	padding: 3px 2px 3px 2px;
}

.match {
	color: #181;
}

.aya_details {
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}
