<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Page not found</title>
  <meta charset="utf-8">

  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <!-- CSS -->
  <link rel="stylesheet" href="/static/404/404.css">

</head>

<body>
    
    <!-- BEGIN CONTENT -->
    <div class="wrap_content">
      <h1>404</h1>
      <h2>{{ _("Not Found !!") }}</h2><br>
      <p>{{ _("Sorry we are not sure what you looking for.") }}</p>
      <p>{{ _("Try returning to the") }} <a href="http://alfanous.org/">{{ _("front page") }}</a> {{ _("and starting over.") }}</p>
    </div><!-- End div content -->
    <!-- END CONTENT -->

    


</body></html>
