<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"></meta>
        <title>Alfanous &middot; Quranic Vers Search Engine</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Bootstrap -->
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <!-- Custom Alfanous CSS -->
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#"></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
                            <li class="active"><a href="#">Ayahs</a></li>
                            <li><a href="#">Translations</a></li>
                        </ul>
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Languages<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">Arabic</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Current:</li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container content">
			<div class="row">
			    <div id="social-icons" class="social-networks span12">
					<ul class="inline pull-right">
						<li><a class="facebook" href="https://www.facebook.com/Alfanous">Facebook</a></li>
						<li><a class="twitter" href="#">Twitter</a></li>
						<li><a class="github" href="#">Github</a></li>
                        <li><a class="googleplus" href="#">Google+</a></li>
					</ul>
				</div>
			</div>

			<div class="row">

                <div class="span2">
                    <div class="well sidebar-nav hidden-phone">
                        <ul class="nav nav-list">
                            <li class="nav-header">Information</li>
                                <li class="active"><a href="#">F.A.Q</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Download</a></li>
                            <li class="nav-header">Contribute</li>
                                <li><a href="#">Translate</a></li>
                                <li><a href="#">Feedback</a></li>
                                <li><a href="#">Donate</a></li>
                                <li><a href="#">Other means</a></li>
                        </ul>
                    </div><!--/.well -->
                </div><!--/span-->

                <div class="span10 text-center">
                    <div class="row span4 offset2">
                        <a href="#" class="logo"><img src="img/alfanous.png"></a>
                            <form class="form-search text-center">
                                <div class="input-append">
                                    <input type="text" class="search-query" placeholder="Search">
                                    <button type="submit" class="btn">
                                        <i class="icon-search"></i>
                                        <span class="hidden-phone">Quick Search</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <!-- dropdown menu links -->
                                    </ul>
                                </div>

                                <div class="advanced-search text-center">
                                    <a class="text-center show_hide" data-toggle="tooltip" title="first tooltip">
                                        <i class="icon-wrench"></i>
                                        Advanced search [+]
                                    </a>
                                </div>
                            </form>

                       
                            <form class="form-horizontal well slidingForm">
                                <h4 class="text-center">Search options:</h2>
                                <div class="bs-docs-example">
                                    <ul>
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox"> Fuzzy search?
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox"> Unvocalized text?
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox"> Uthmani script?
                                            </label>
                                        </li>
                                    </ul>
                                <div class="row">
                                    <div class="row">
                                     <i class="icon-th"></i>
                                        View:
                                        <div class="control row">
                                            <select>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <i class="icon-arrow-down"></i>
                                        Sorted by:
                                        <div class="control row">
                                            <select>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <i class="icon-book"></i>
                                        Translation:
                                        <div class="control row">
                                            <select>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <i class="icon-play"></i>
                                        Recitation:
                                        <div class="control row">
                                            <select>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn center">
                                        <i class="icon-search"></i>
                                        Bismi'Allah Go!
                                    </button>
                                </div>
                            </form>
                            

                        </div>
                    </div><!--/span-->
                </div><!--/row-->
                
            </div>
            <div class="row">

                    <div class='container well well-small span8 offset2'>
                        <div class=""> <!-- Only required for left/right tabs -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <fieldset class="fieldset">
                                        <!-- <legend>Main Section</legend> -->
                                        <div class="row-fluid">
                                            <div class="row-fluid text-center visible-phone">
                                                <div class="btn-group btn-toolbar">
                                                    <button class="btn"><i class="icon-headphones"></i></button>
                                                    <button class="btn"><i class="icon-file"></i></button>
                                                    <button class="btn"><i class="icon-share"></i></button>
                                                </div>
                                            </div>
                                            <div class="span1 hidden-phone">
                                                <div class="btn-group btn-group-vertical btn-toolbar">
                                                    <button class="btn"><i class="icon-headphones"></i></button>
                                                    <button class="btn"><i class="icon-file"></i></button>
                                                    <button class="btn"><i class="icon-share"></i></button>
                                                </div>
                                            </div>
                                            <div class="span10">    
                                                <div class="row-fluid arabic-ayah">
                                                    <p class="text-center">
                                                        <span class="quran_decoration">[</span>
                                                        ذَلِكَ  بِأَنَّهُمْ شَاقُّوا    اللَّهَ وَرَسُولَهُ وَمَنْ  يُشَاقِّ    اللَّهَ فَإِنَّ اللَّهَ شَدِيدُ الْعِقَابِ  
                                                        <span class="quran_decoration">]</span>
                                                    </p>
                                                </div>
                                                <div class="text-left muted ayah_source">
                                                    <small>- الأحزاب<cite title="Source Title"> 37</cite></small>
                                                </div>
                                                <hr />
                                                <div class="row-fluid text-center non-arabic-ayah">
                                                    <p>
                                                        Thalika biannahum shaqqoo Allaha warasoolahu waman yushaqqi Allaha fainna Allaha shadeedu alAAiqabi 
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <a class="text-center show_hide_aya_details" data-toggle="tooltip" title="first tooltip"><p>----------
                                            <i id="details_icon" class="icon-chevron-down"></i>
                                            Show more ----------
                                            </p></a>
                                        </div>
                                        <div class="aya_details">
                                        <div class="row-fluid">
                                            <table class="table table-bordered table-condensed">
                                                <tbody>
                                                    <tr>
                                                        <td><i class="icon-book"></i><strong class="hidden-phone"> Chapter:</strong></td>
                                                        <td><a href="#">الجهاد في الإسلام</a></td>
                                                        <td><i class="icon-tag"></i><strong class="hidden-phone"> Topic:</strong></td>
                                                        <td><a href="#">فضل الجهاد والدعوة إليه</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <h5>About ayah:</h5>
                                            <div class="text-center">
                                                <span class="label">words | 12</span>
                                                <span class="label label-success">letters | 51</span>
                                                <span class="label label-warning">divine names | 3</span>
                                                <span class="label label-important">manzil | 7</span>
                                                <span class="label label-info">hizb | 55</span>
                                                <span class="label label-info">quart | 3</span>
                                                <span class="label label-inverse">page | 546</span>
                                            </div>
                                            <h5>About Surah:</h5>
                                            <div class="text-center">
                                                <span class="badge">Sura | الحشر</span>
                                                <span class="badge badge-success">N° | 59 </span>
                                                <span class="badge badge-warning">type | مدنية</span>
                                                <span class="badge badge-important">revelation_order | 101</span>
                                                <span class="badge badge-inverse">ayahs | 24</span>
                                            </div>
                                        </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>                        
                    </div>
            </div>
        <footer>
            <div class="push"><!--//--></div>
            <div class"row">
                <div id="footer">
                    <div class="container">
                        <div class="row hidden-phone text-center help">
                            <div class="alert alert-info span8 offset2 text-center">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Help!</strong> Please help us improving Alfanous Project, by taking this survey about search features in Holy Quran.
                            </div>
                        </div>
                        <hr />
                        <p class="muted credit">Copyright &copy; <a href="https://github.com/Alfanous-team/alfanous/blob/master/AUTHORS.rst">Alfanous Team</a> 2010 - 2013 &#124; released under <a href="http://www.gnu.org/licenses/agpl.html">AGPL</a> license.</p>

                        <p class="muted credit pull-right">Powered by <span class="label label-inverse">
                                <a class="footer-link-jos2" href="#" data-placement="top" data-toggle="popover">
                                    <i class=" icon-chevron-up icon-white"></i>
                                    Alfanous JOS2
                                </a>
                                </span> 
                                - <span class="label label-inverse hidden-phone">
                                <a class="footer-link-searchbar" onclick="addto_searchbar();return false;" href="#">
                                    <i class="icon-plus-sign icon-white"></i>
                                    Add to your search bar!
                                </a>
                                </span>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        </div> <!-- end content-->
       
        <div class="hidden popoverInner">
            <p class="popoverInnerText">This is the <a href='http://json.org/'>JSON</a> output system 2 of <a href="http://www.alfanous.org">Alfanous</a> project, we call it <b>Alfanous JOS2</b>. This feature is in Alpha test and the Json schema may be it's not stable . We are waiting for real feedback and suggestions to improve its efficacy,quality and stability. To contact the author ,please send a direct email to <b> assem.ch[at]gmail.com</b> or to the mailing list <b>alfanous [at] googlegroups.com</b>
            <br/><br/> For more details  visit the page of this service <a href="https://github.com/Alfanous-team/alfanous/blob/master/src/alfanous-cgi/README.rst">here</a>
            </p>
        </div>

        <!-- The javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap-transition.js"></script>
        <script src="js/bootstrap-alert.js"></script>
        <script src="js/bootstrap-modal.js"></script>
        <script src="js/bootstrap-dropdown.js"></script>
        <script src="js/bootstrap-scrollspy.js"></script>
        <script src="js/bootstrap-tab.js"></script>
        <script src="js/bootstrap-tooltip.js"></script>
        <script src="js/bootstrap-popover.js"></script>
        <script src="js/bootstrap-button.js"></script>
        <script src="js/bootstrap-collapse.js"></script>
        <script src="js/bootstrap-carousel.js"></script>
        <script src="js/bootstrap-typeahead.js"></script>
        <!-- Alfanous specific javascrit -->
        <script type="text/javascript">
        $(document).ready(function(){
            $(".slidingForm").hide();
            $('.show_hide').click(function(){
                $(".slidingForm").slideToggle(function() {
                    var text = $('.show_hide').html();
                    if($('.slidingForm').is(":visible")){
                        $('.show_hide').html(text.replace('+', ' - '));
                    }
                    else {
                        $('.show_hide').html(text.replace(' - ', '+'));
                    }
                });
            });

            $(".aya_details").hide();
            $('.show_hide_aya_details').click(function(){
                $(".aya_details").slideToggle(function() {
                    var text = $('.show_hide_aya_details').html();
                    if($('.aya_details').is(":visible")){
                        $('.show_hide_aya_details').html(text.replace('more', 'less'));
                        document.getElementById("details_icon").className = "icon-chevron-up";
                    }
                    else {
                        $('.show_hide_aya_details').html(text.replace('less', 'more'));
                        document.getElementById("details_icon").className = "icon-chevron-down";
                    }
                });
            });

            $('.footer-link-jos2').popover(
                {
                    html:true,
                    title:'<span class="popoverInnerText">About JOS2<span>',
                    animation: true,
                    content: function() {
                        return $('.popoverInner').html();
                    },
                });
        });

        function addto_searchbar(){
            window.external.AddSearchProvider("/static/alfanous-opensearch.xml");
        
        }
        </script>
    </body>
</html>
