<!DOCTYPE html>
<html dir="{{ bidi.direction }}" lang="{{ language.code }}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title> 
			{% block title %} 
				{{ _("Alfanous") }} - 
				{% if current.unit == "aya" %}
						{{ _("Ayah Search") }}
					{% elif current.unit == "word" %}
						{{ _("Word Search") }}
					{% elif current.unit == "translation" %}
						{{ _("Translation Search") }}
					{% else %}
						{{ _("Ayah Search") }} 
				{% endif %}
				
				{% if params.query %}
					- 
					{{ _("Query:") }}
					{{ params.query }} 
					{% if params.page %}
						|| {{ _("Page:") }}
						{{ params.page }}
					{% endif %}
					{% if params.order %}
						|| {{ _("Order:") }}
						{{ params.sortedby }}
					{% endif %}
					{% if params.view and params.view != "default" %}
						|| {{ _("View:") }}
						{{ params.view }}
					{% endif %}
					{% if params.vocalized or params.uthmani or params.fuzzy %}
						|| {{ _("Options:") }} {
							{% if params.vocalized %}
								{{ _("vocalized") }},
							{% endif %}
							{% if params.uthmani %}
								{{ _("uthmani") }},
							{% endif %}
							{% if params.fuzzy %}
								{{ _("fuzzy") }},
							{% endif %}
						}
					{% endif %}
					{% if params.translation %}
						|| {{ _("Translation:") }}
							{{ params.translation }},
					{% endif %}
				{% endif %}
			{% endblock %}  
	</title>
	
	<meta name="description" content="{{ _('Alfanous is a functional, dynamic, comprehensive Qur’an search engine that has been effectively designed to carry out simple or advanced Quranic searches.') }}"/>
	<meta name="keywords" content="{{ _("quran") }},
								   {{ _("forqan") }},
								   {{ _("koran") }}, 
								   {{ _("search") }}, 
								   {{ _("search engine") }}, 
								   {{ _("ayates") }}, 
								   {{ _("surates") }}, 
								   {{ _("advanced") }}, 
								   {{ _("statistics") }}, 
								   {{  _("linguistic") }}, 
								   {{ _("information retrieval") }}, 
								   {{ _("natural language processing") }}, 
								   {{ _("words") }}, 
								   {{ _("Lantern") }}, 
								   {{ _("alfanous") }},
								   {% for wordcpt, wordstat in results.search.words.individual.items %}
								   		{{ wordstat.word }},
								   		{% if wordstat.romanization %} {{ wordstat.romanization }}, {%  endif %}
								   {% endfor %}
								   {{ params.translation }},
								   {{ params.view }} view,
								   {% if params.vocalized %}
										{{ _("vocalized text") }},
								   {% endif %}
								   {% if params.uthmani %}
										{{ _("uthmani script") }},
								   {% endif %}
								   {% if params.fuzzy %}
										{{ _("fuzzy search") }},
								   {% endif %}
								   {{ params.sortedby }} order,
								   {{ language.name }},
								   {{ language.name_local }},
								   "/>
	<!-- meta name="copyright" content="&copy; Alfanous Team, AGPL" -->
	<meta name="author" content="Assem Chelli, Ahmed Ramadan, Abdellah Chelli, Mouad Debbar, Walid Ziouche" />
	<meta name="robots" content="index,follow"/>

	<link rel="icon" href="/static/shared/img/icon_32.png" sizes="32x32"> 
	<link rel="shortcut icon" href="/static/shared/img/favicon.ico" type="image/x-icon">

	<link rel="search" type="application/opensearchdescription+xml" title="Alfanous" href="/static/alfanous-opensearch.xml"/>


	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
    {% ifequal bidi.direction "ltr" %}
        <link href="/static/ltr/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/ltr/css/bootstrap-responsive.min.css" rel="stylesheet">      
    {% else %}
        <link href="/static/rtl/css/rtl-bootstrap.min.css" rel="stylesheet">
        <link href="/static/rtl/css/rtl-bootstrap-responsive.min.css" rel="stylesheet">      
    {% endifequal %}
    <!-- custom html select items -->
    <link href="/static/shared/css/bootstrap-select.min.css" rel="stylesheet">
    <!-- Quick tour -->
    <link href="/static/shared/css/bootstro.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/static/shared/css/font-awesome.min.css">

    <!--[if IE 7]>
    <link rel="stylesheet" href="/static/shared/css/font-awesome-ie7.min.css">
    <![endif]-->

    <!-- Custom Alfanous CSS -->
    <link href="/static/shared/css/style.css" rel="stylesheet">
    {% ifequal bidi.direction "rtl" %}
    <link href="/static/rtl/css/rtl.css" rel="stylesheet">
    {% endifequal %}
    

    


</head>
<body>
{% if False %} 
{# block reserved to force localization of automatic values #}

{{ _("Ayahs") }}
{{ _("Translations") }}
{{ _("Words") }}


{% endif %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner ">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#"></a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                    <li><a href="/"><i class="icon-home icon-large"></i></a></li>
                    	{% for available_unit in available.units.items %}
                    		{% ifequal available_unit.0 current.unit %}
                    			<li class="active bootstro" data-bootstro-title="First select search mode"
                                data-bootstro-content="You can choose whether to search in Arabic verses of the holly Quran or in its translations"
                                data-bootstro-width="400px" 
                                data-bootstro-placement='bottom' data-bootstro-step='0'><a >{{ available_unit.1 }}</a></li>
							{% else %}
							<li><a href="{% url alfanous-django.wui.views.results current.language available_unit.0 %}">{{ available_unit.1 }}</a></li>
							{% endifequal %} 
						{% endfor %}
                    </ul>
                    {% if bidi.direction == "rtl" %}
                    <ul class="nav pull-left">
                    {% else %}
                    <ul class="nav pull-right">
                    {% endif %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle bootstro" data-toggle="dropdown" data-bootstro-title="Select your language"
                                data-bootstro-content="If you didn't notice, Alfanous User Interface is now translated to other languages, choose the one that fits you the best, or, you can contribute in translating it into your native language! (see the translate link)"
                                data-bootstro-width="400px" 
                                data-bootstro-placement='bottom' data-bootstro-step='1'>{{ _("Languages") }}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for available_language in available.languages %}
                                    {% if available_language.0 != language.code %}
                                    <li>
    									<a href="{% url alfanous-django.wui.views.results available_language.0 current.unit %}?{{ current.request }}">{{ available_language.1 }}</a> 			
    								</li>
                                    {% endif %}
                                {% endfor %}
                                   	<li class="divider"></li>
                                	<li class="nav-header">{{ _("Current:") }}</li>
                                	<li class="disabled"><a>{{ language.name }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!-- End fixed navbar -->

    <div class="container content">
        <!-- social media icons -->
		<div class="row">
		    <div id="social-icons" class="social-networks">
                {% if bidi.direction == "rtl" %}
                <ul class="inline pull-left">
                {% else %}
                <ul class="inline pull-right">
                {% endif %}
					<li><a class="facebook" href="https://www.facebook.com/Alfanous"><i class="icon-facebook icon-large success"></i></a></li>
					<li><a class="twitter" href="https://twitter.com/alfanous"><i class="icon-twitter icon-large"></i></a></li>
					<li><a class="github" href="https://github.com/Alfanous-team/alfanous"><i class="icon-github icon-large"></i></a></li>
                    <li><a class="googleplus" href="https://plus.google.com/u/0/111305625425237630318"><i class="icon-google-plus icon-large"></i></a></li>
				</ul>
			</div>
		</div>
        <!-- end social media icons-->
        


		<div class="row">
            <!-- left navbar -->
            <div class="span2">
                <div class="well well-small sidebar-nav hidden-phone affix">
                    <ul class="nav nav-list ">
                        <li class="nav-header">{{ _("Information:") }}</li>
                            <li><a id="QuickTour" href="#"><i class="icon-lightbulb"></i>{{ _("Quick Tour!") }}</a></li>
                            <li><a href="#faqpanel" data-toggle="modal"><i class="icon-question-sign"></i> {{ _("F.A.Q.") }}</a></li>
                            <li><a href="#help" class="bootstro" data-toggle="modal" data-bootstro-title="Sample search here"
                                data-bootstro-content="Here you can learn by example about the full power of Alfanous search engine and what you can do with it."
                                data-bootstro-width="400px" 
                                {% if bidi.direction == "rtl" %}
                                data-bootstro-placement='left'
                                {% else %}
                                data-bootstro-placement='right'
                                {% endif %}
                                data-bootstro-step='4'><i class="icon-exclamation-sign"></i> {{ _("Help") }}</a></li>
                            <li><a href="#contactpanel" data-toggle="modal"><i class="icon-envelope"></i> {{ _("Contact") }}</a></li>
                            <li><a href="#download" data-toggle="modal"><i class="icon-download-alt"></i> {{ _("Download") }}</a></li>
                        <li class="nav-header">{{ _("Contribute:") }}</li>
                            <li><a href="#translatepanel" data-toggle="modal"><i class="icon-globe"></i> {{ _("Translate") }}</a></li>
                            <li><a href="http://feedback.alfanous.org/"><i class="icon-comment"></i> {{ _("Feedback") }}</a></li>
                            <li><a href="#donatepanel" data-toggle="modal" title="we really need your help!" class="dropdown-toggle bootstro" data-bootstro-title="We really need your help!"
                                data-bootstro-content="We're looking to fund the project, if you like it, help us making it even better."
                                data-bootstro-width="400px" 
                                {% if bidi.direction == "rtl" %}
                                data-bootstro-placement='left'
                                {% else %}
                                data-bootstro-placement='right'
                                {% endif %}
                                data-bootstro-step='5'><i class="icon-shopping-cart"></i> {{ _("Donate") }}</a></li>
                            <li><a href="#otherMeans" data-toggle="modal"><i class="icon-plus"></i> {{ _("Other means") }}</a></li>
                    </ul>
                </div><!--/.well -->
            </div><!--/span-->
            <!-- end left navbar -->

            <div class="row offset2 span9 text-center">
                <div class="span6 offset1">
                    <a href="{% url alfanous-django.wui.views.results current.language current.unit %}" class="logo"><img src="/static/{{ bidi.direction }}/img/alfanous.png" alt="logo"></a>
                        <form class="form-search" id="form" name="form" method="GET" action=".">
                            <div class="input-append  text-right"
                                data-bootstro-title="Alfanous is smart!"
                                data-bootstro-content="Just start typing here! but wait... <strong>Did you know?</strong> Alfanous isn't just a typical search function, you can do a lot using operators like: <code>+</code>, <code>-</code>, <code>|</code> and a lot more!"
                                data-bootstro-width="400px" 
                                data-bootstro-placement='bottom' data-bootstro-step='2'>
								     <input id="appendedInputButtons" name="query" class="search-query enter keyboardInput" placeholder="Search" type="text" value="{{ params.query }}" data-provide="typeahead" autocomplete="off"
		                                data-source=""
		                                />
		
		                                <button type="submit" class="btn btn-success search-query" onclick="$('#form').submit(); return false;">
		                                    <i class="icon-search"></i>
		                                    <span class="hidden-phone">{{ _("Quick search") }}</span>
		                                </button>
		                                
                            </div>
                            {% if current.unit == "aya" %}
                                <div class="advanced-search text-center">
                                    <a class="text-center show_hide bootstro" data-toggle="tooltip" title="Even more!"
                                    data-bootstro-title="Even more!"
                                data-bootstro-content="You can <strong>sort</strong>, <strong>filter</strong> search reasults or choose a translation, you can as well choose a recitator!"
                                data-bootstro-width="400px" 
                                data-bootstro-placement='top' data-bootstro-step='3'>
                                        <i class="icon-wrench"></i>
                                        {{ _("Advanced search") }} [+]
                                    </a>
                                </div>
                                
                                <div class="row slidingForm ">
                                    {# <form class="form-horizontal "> #}
                                        <fieldset class="well">
                                                {% block options %}
                                                {% endblock %}

                                                {% block views_panel %}{% endblock %}
                                                {% block sortedby_panel %}{% endblock %}
                                                {% block translations_panel %}{% endblock %}
                                                {% block recitations_panel %} {% endblock %}
                                                <!-- Button -->
                                                <div class="control-group">
                                                    <label class="control-label"></label>
                                                    <div class="controls">
                                                        <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary" onclick="$('#form').submit(); return false;">{{ _("Bismi'Allah Go!") }}</button>
                                                    </div>
                                                </div>
                                        </fieldset>
                                    {# </form> #}
                                </div>
                            {% endif %}
                        </form>
                </div><!--/span4-->
            </div><!--/row-->
        </div>
                
        <div class="row-fluid">
        	{% block results %} {% endblock results %}
        </div>

    </div>
</div>

    {% include "popups_content.html" %}

{% block notification %}
<!--
				<div class="hidden-phone text-center help">
                    <div class="alert alert-info span8 offset2 text-center">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <i class="icon-info-sign"></i>
                        <strong>{{ _("Help!") }}</strong>
                        {% ifequal current.language "ar" %}
                        <a href="https://docs.google.com/spreadsheet/viewform?formkey=dEZZaE5fQ0NwQXljU2ZyUmpfLW15SVE6MA">
                        {% else %}
                        <a href="https://docs.google.com/spreadsheet/viewform?formkey=dHNKQU1JSkEzbDNKR2tvM2M2cDA2SXc6MQ">
                        {% endifequal %}
                        {{ _("Please help us improving Alfanous Project, by taking this survey about search features in Holy Quran.") }} </a>
                    </div>
                </div>
-->
{% endblock notification %}



	<div id="footer" class="navbar navbar-inverse  text-center">
	<div class="push"><!--//--></div>
            <div class="container narrow row-fluid ">
                <p class="muted credit">{{ _("Copyright") }} &copy; <a href="https://github.com/Alfanous-team/alfanous/blob/master/AUTHORS.rst">{{ _("Alfanous Team") }}</a> 2010 - 2013</p>
                <p class="muted credit hidden-phone">&#124; {{ _("released under") }} <a href="http://www.gnu.org/licenses/agpl.html">{{ _("AGPL license") }}</a>.</p>
                <br/>
                 <span class="label label-info">
                		 <a id="footer-link-jos2" data-placement="top" data-toggle="popover">
                		 <i class=" icon-chevron-up icon-white"></i>
                 		{{ _("Powered by") }}
                        
                        
                        Alfanous JOS2
                    </a>
                    </span> 
                    <span class="label label-success hidden-phone">
                    <a class="footer-link-searchbar" onclick="window.external.AddSearchProvider('/static/alfanous-opensearch.xml');return false;" href="#">
                        <i class="icon-plus-sign icon-white"></i>
                        {{ _("Add to your search bar!") }}
                    </a>
                    </span>
            </div>

    </div>

    <div id="popoverInner" class="hidden">
        <p class="popoverInnerText">This is the <a href='http://json.org/'>JSON</a> output system 2 of <a href="http://www.alfanous.org">Alfanous</a> project, we call it <i><b>Alfanous JOS2</b></i>. This feature is in Alpha test and the Json schema may be it's not stable . We are waiting for real feedback and suggestions to improve its efficacy,quality and stability. To contact the author ,please send a direct email to <b> assem[dot]ch[at]gmail[dot]com</b> or to the mailing list <b>alfanous [at] googlegroups [dot] com</b>
        <br/><br/> For more details  visit the page of this service <a class="badge" href="https://github.com/Alfanous-team/alfanous/blob/master/src/alfanous-cgi/README.rst">here</a>
        </p>
    </div>

    <!-- The javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/shared/js/jquery-1.9.1.min.js"></script>
    {% ifequal bidi.direction "ltr" %}
        <script src="/static/ltr/js/bootstrap.min.js"></script>
    {% else %}
        <script src="/static/rtl/js/rtl-bootstrap.min.js"></script>     
    {% endifequal %}
    <script src="/static/shared/js/bootstrap-select.min.js"></script>
    <script src="/static/shared/js/bootstro.min.js"></script>
    <script src="/static/shared/js/alfanous.js"></script>
    <script src="http://api.html5media.info/1.1.5/html5media.min.js"></script>
    
    <!-- Google analytics #Assem -->
	<script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-9859501-4']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
	</script>
	<!-- end -->
	
        <!--  flattr donation -->
    <script type="text/javascript">
		/* <![CDATA[ */
	    (function() {
	        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
	        s.type = 'text/javascript';
	        s.async = true;
	        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
	        t.parentNode.insertBefore(s, t);
	    })();
		/* ]]> */
	</script>
</body>
</html>
