{% extends "results.html" %}

{% load custom_filters %}

{% block pages_bottom %} 
	{% block pages_top %}
				<br />
				<div class='pages'>
				<img src='/static/images/prev_en.gif' alt='Previous page' title = 'Previous page' />
				<div style=' display:inline-block; position:relative; top:-8px;'>
				{% for i in results.search.interval.nb_pages|get_range %}
					{% with results.search.interval.page as page %}
						{% if  i == page %}
							 {{ i }}  	
						{% elif i <= page|add:"+7" and i >= page|add:"-3"  %} 
							{# pages  in range [-3,+7] #}
							<a href=''>{{ i }}</a> 
						{% elif i|divisibleby:"50" and i < page or i == 1  %} {# Prio: Left #}
							{# first page ; and every 50 pages before current page #}
							<a href=''>{{ i }}</a> .. 
						{% elif i|divisibleby:"50" and i > page or i == results.search.interval.nb_pages  %}
							{# last page;  and every 50 pages after current page #}
							.. <a href=''>{{ i }}</a> 
						{% endif %}	
					{% endwith %}
				{% endfor %}
				</div>
				<img src='/static/images/next_en.gif' alt='Next page' title = 'Next page' />
				</div>
		{% endblock %}
{% endblock %}