{% extends "results.html" %}

{% load custom_filters %}

{% block pages_bottom %} 
	{% block pages_top %}
				<br />
				<div class='pages'>
				{% if results.search.interval.page != 1 %}
					{% with results.search.interval.page|add:"-1"|stringformat:"s" as prev_page %}
						<a class='no_decoration' href='?{% build_search_link params params.query prev_page False%}'> 
					{% endwith %} 
					<img src='/static/images/prev_en.gif' alt='Previous page' title = 'Previous page' />
					</a>
				{% endif %}
				<div style=' display:inline-block; position:relative; top:-8px;'>
				{% for i in results.search.interval.nb_pages|get_range %}
					{% with results.search.interval.page as page %}
						{% if  i == page %}
							 {{ i }}  	
						{% elif i <= page|add:"+7" and i >= page|add:"-3"  %} 
							{# pages  in range [-3,+7] #} 
							<a class='page_link' href="?{% build_search_link params params.query i False %}">{{ i }}</a> 
						{% elif i|divisibleby:"50" and i < page or i == 1  %} {# Prio: Left #}
							{# first page ; and every 50 pages before current page #}
							<a class='page_link' href="?{% build_search_link params params.query i False %}">{{ i }}</a> .. 
						{% elif i|divisibleby:"50" and i > page or i == results.search.interval.nb_pages  %}
							{# last page;  and every 50 pages after current page #}
							.. <a class='page_link' href="?{% build_search_link params params.query i False %}">{{ i }}</a> 
						{% endif %}	
					{% endwith %}
				{% endfor %}
				</div>
				{% if results.search.interval.page != results.search.interval.nb_pages %}
					{% with results.search.interval.page|add:"+1"|stringformat:"s" as next_page %}
						<a class='no_decoration' href='?{% build_search_link params params.query next_page False%}'> 
					{% endwith %} 
					<img src='/static/images/next_en.gif' alt='Next page' title = 'Next page' /></a>
				{% endif %}
				
				</div>
		{% endblock %}
{% endblock %}