<?xml version="1.0" encoding="utf-8"?>

<HarvestMan xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://harvestman.freezope.org/schemas/HarvestMan.xsd">
  <config version="3.0" xmlversion="1.0">
    <projects combine="0">
      
      <project skip="0">
        <url>http://www.sneetsher.com/</url>
        <name>sneetsher</name>
        <basedir>./barrelz</basedir>
        <verbosity value="2"/>
      </project>
      
    </projects>
    
    <network>
      <proxy>
        <proxyserver></proxyserver>
        <proxyuser></proxyuser>
        <proxypasswd></proxypasswd>
        <proxyport value="80"/>
      </proxy>
      <urlserver status="0">
        <urlhost>localhost</urlhost>
        <urlport value="3081"/>
      </urlserver>
    </network>
    
    <download>
      <types>
        <html value="1"/>
        <images value="0"/>
        <javascript value="0"/>
        <javaapplet value="0"/>
        <forms value="0"/>
        <cookies value="0"/>
      </types> 
      <cache status="1">
        <datacache value="1"/>
      </cache>
      <misc>
        <retries value="1"/>
      </misc>
    </download>
    
    <control>
      <links>
        <imagelinks value="1"/>
        <stylesheetlinks value="0"/>
      </links>
      <extent>
        <fetchlevel value="0"/>
        <extserverlinks value="0"/>
        <extpagelinks value="1"/>
        <depth value="10"/>
        <extdepth value="0"/>
        <subdomain value="1"/>
      </extent>
      <limits>
        <maxextservers value="0"/>
        <maxextdirs value="0"/>
        <maxfiles value="5000"/>
        <maxfilesize value="5048576"/>
        <connections value="10"/>
        <requests value="10"/>
        <timelimit value="-1"/>
      </limits>
      <rules>
        <robots value="10"/>
        <urlpriority></urlpriority>
        <serverpriority></serverpriority>
      </rules>
      <filters>
        <urlfilter></urlfilter>
        <serverfilter></serverfilter>
        <wordfilter></wordfilter>
        <junkfilter value="0"/>
      </filters>
    </control>
    
    <system>
      <workers status="1" size="10" timeout="200"/>
      <trackers value="10"/>
      <locale>C</locale>
      <fastmode value="1"/>
    </system>
    
    <files>
      <urllistfile></urllistfile>
      <urltreefile></urltreefile>
      <archive status="0" format="bzip"/>
      <urlheaders status="1" />
    </files>
    
    <indexer>
      <localise value="2"/>
    </indexer>
    
    <display>
      <browsepage value="1"/>
    </display>
    
  </config>
  
</HarvestMan>
