 {% load query %}


  <script type="application/ld+json">
        {
         "@context": "http://schema.org",
         "@type": "BreadcrumbList",
         {#  "numberOfItems": {{ results.search.interval.total }}, #}
         "itemListElement":
         [
           {% for result_id, result_content in results.search.ayas.items %}
          {
           "@type": "ListItem",
           "position": {{ result_id }},
           "item":
           {
            "@id": "?query=gid:{{ result_content.identifier.gid }}",
            "name": {% if bidi.direction == "rtl" %}
                          "{{ result_content.identifier.sura_arabic_name }} {{ result_content.aya.id }}"
                        {% else %}
                          "{{ result_content.identifier.sura_name }} {{ result_content.aya.id }}"
                        {% endif %},
            "alternateName": {% if bidi.direction == "ltr" %}
                          "{{ result_content.identifier.sura_arabic_name }} {{ result_content.aya.id }}"
                        {% else %}
                          "{{ result_content.identifier.sura_name }} {{ result_content.aya.id }}"
                        {% endif %},
            "description":"{{ result_content.aya.text }}",
            "url":"http://www.alfanous.org/en/aya/{% aya_query result_content %}",
            "sameAs": "http://www.alfanous.org/en/aya/{% ar_aya_query result_content %}"
            }
          }{% if not forloop.last %},{% endif %}
           {% endfor %}

         ]
        }
        </script>