
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "SoftwareApplication",
  "name": "Alfanous Desktop",
  "applicationCategory":"Search Engine",
  "downloadUrl":"https://sourceforge.net/projects/alfanous/files/latest/download?source=directory",
  "operatingSystem": "Windows, Linux",
  "featureList": "* Advanced queries
                    * Enhanced search results
                    * Arabic friendly
                    * Rich of options
                    * Spell check suggestion "
}
</script>
