
.shareme_root .box a{
	color:#808080;
	text-shadow: 0 3px 3px rgba(200,200,200,.4);
}
.shareme_root .box a:hover{
	text-decoration:none;
}
.shareme_root .count {
	font-weight:bold;
	font-size:50px;
}
.shareme_root .share {
	font-size:50px;
	width:10px;
}

.shareme_root .buttons {
position: absolute;
width:294px;
background-color:#fff;
border: 1px solid rgba(0,0,0,.2);
padding:10px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.shareme_root .button {
float:left;
max-width:50px;
margin:0 10px 0 0;
}

.shareme_root .facebook {
margin:0 4px 0 0;
}

