

    .sharrre .box{

    }
    .sharrre .count {
    color:#000000;
    display:block;
    font-size:14px;
    line-height:12px;
    height:12px;
    padding:4px 0;
    position:relative;
    text-align:center;
    text-decoration:none;
	width:30px;
    background-color:#FFF;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    }
    .sharrre .share {
    color:#FFFFFF;
    display:block;
    font-size:11px;
    height:16px;
    line-height:16px;
    margin-top:3px;
    padding:0;
    text-align:center;
    text-decoration:none;
    width:50px;
    background-color:#9CCE39;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    }
    .sharrre .buttons {

    display:none;
    position:absolute;
    z-index:10;
      min-height: 20px;
	  padding: 10px;
	  margin-bottom: 20px;
	  background-color: #f5f5f5;
	  border: 1px solid #e3e3e3;
	  -webkit-border-radius: 3px;
	     -moz-border-radius: 3px;
	          border-radius: 3px;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    }
    .sharrre .button {

    max-width:50px;
    margin-left:10px;
    }

