<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.24.0" targetFramework="win81" developmentDependency="true" />
  <package id="MvvmLightLibs" version="4.2.30.0" targetFramework="win81" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="win81" />
  <package id="PropertyChanged.Fody" version="1.48.2.0" targetFramework="win81" developmentDependency="true" />
</packages>