<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="30225FenyLabCorp.38765EB3C89FD" Publisher="CN=6B28336E-2D99-4812-83B5-A1E23A2A70ED" Version="1.1.0.6" />
  <Properties>
    <DisplayName>الفانوس</DisplayName>
    <PublisherDisplayName>FenyLab.com</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AlFanous.App">
      <m2:VisualElements DisplayName="الفانوس" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="الفانوس محرك بحث لايات الفرأن" ForegroundText="dark" BackgroundColor="#E0DDDD">
        <m2:DefaultTile ShortName="الفانوس" Wide310x150Logo="Assets\WideLogo.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#E0DDDD" />
        <m2:ApplicationView MinWidth="width500" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>