Source: alfanous
Section: misc
Priority: extra
Maintainer: Debian Islamic Maintainers <debian-islamic-maintainers@lists.alioth.debian.org>
Uploaders: أحمد المحمودي (Ahmed El-Mahmoudy) <aelmahmoudy@sabily.org>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: python (>= 2.6.6-3~),
 python-setuptools, 
 python-pyparsing,
 python-pyside,
 python-babel,
 pyside-tools,
 qt4-linguist-tools
Standards-Version: 3.9.2
Homepage: http://alfanous.org
X-Python-Version: >= 2.5

Package: alfanous
Architecture: all
Depends: ${misc:Depends},
 ${python:Depends}, 
 python-alfanous,
 fonts-arabeyes,
 ttf-me-quran
 |fonts-sil-scheherazade
Recommends: islamic-menus
Description: Quranic search engine (desktop application)
 Alfanous is a Quranic search engine offers simple and advanced
 search services in the whole information that Holy Qur’an contains.
 It is based on the modern approach of information retrieval to get a 
 good-stability and a high-speed search.
 .
 This package contains a desktop GUI for the search engine.

Package: python-alfanous
Section: python
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Quranic search engine (Python API)
 Alfanous is a Quranic search engine offers simple and advanced
 search services in the whole information that Holy Qur’an contains.
 It is based on the modern approach of information retrieval to get a 
 good-stability and a high-speed search.
 .
 This package contains the Python API.
