#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@ --with python2

override_dh_auto_build:
	make download_translations
	make build
	dh_auto_build -Dsrc/alfanous
	dh_auto_build -Dsrc/alfanous-desktop

override_dh_auto_install:
	dh_auto_install -Dsrc/alfanous
	dh_auto_install -Dsrc/alfanous-desktop 

override_dh_auto_clean:
	make clean
	dh_auto_clean -Dsrc/alfanous
	dh_auto_clean -Dsrc/alfanous-desktop

override_dh_installchangelogs:
	dh_installchangelogs CHANGELOG
