
[Desktop Entry]
Type=Application
Version=0.4
Name=Alfanous
Name[ar]=الفانوس
GenericName=Alfanous-Quranic Search Engine
GenericName[ar]=الفانوس - محرك بحث قرآني
Icon=/usr/share/pixmaps/AlFanous.png
Exec=alfanous-desktop
Categories=Education;X-Islamic-Software;X-Quran;Qt;

