* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #003245;
	color: #A9C9D5;
	font-size: 1em;
	text-align: center;
}


/* form */
.search_form {
}

.search_form img {
	vertical-align: middle;
	margin: 3px 0px 3px 0px;
}

.search_form span {
	color: #FFF;
	font-weight: bold;
	vertical-align: middle;
}

.search_box {
	vertical-align: middle;
}

.submit {
	vertical-align: middle;
}

#form_top {
margin-bottom: 5px;
}

#form_bottom {
padding-top: 3px;
margin-bottom: 10px;
}

/* message */
.message {
	border-top: 1px solid #4f98b3;
	padding-top: 5px;
	padding-bottom: 50px;
}

/* pages */
.pages {
	font-size: 0.8em;
	margin-top: 1px;
}

.pages span {
	color: #FFF;
	font-size: 1.5em;
}

.pages a {
	color: #db8c35;
	text-decoration: none;
}

#pages_top {
	border-bottom: 1px solid #4f98b3;
	border-top: 1px solid #004e6a;
}

#pages_bottom {
	border-bottom: 1px solid #004e6a;
	border-top: 1px solid #4f98b3;
}

/* result */
#search_result {
	background-color: #00384C;
	width: 100%;
}

.result_item {
	border-top: 1px solid #004e6a;
	width: 100%;
}

.result_item:first-child {
	border-top: none;
}

.item_number {
	height: 1.5em;
}

.aya_info {
	color: #4ce74c;
}

.aya_info span {
	color: #CCC;
}

.quran {
	/*background-color: #FFF;*/
	color: #FFF;
	font-size: 1.2em;
	padding: 3px 2px 3px 2px;
}

.match {
	color: #ebb873;
	font-weight: bold;
}

.aya_details {
	font-size: 0.8em;
}

.aya_details span {
	color: #FFF;
	font-size: 1.5em;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

/* footer */
#footer {
	border-top: 1px solid #004e6a;
	font-size: 0.8em;
}

#footer a {
	color: #db8c35;
	text-decoration: none;
}
