/* Abdellah */
@import url('reset.css');


@font-face {
	font-family:'Scheherazade';
	src:url('../fonts/ScheherazadeRegOT.ttf');
}


/* copied from the template */

	body {
		background: #fff;
		text-align: center;
	}				
	
	table {
		width: 395px;
		height: 256px;		
	}
	
	#footer-big-wrapper {
		text-align: left;
	}
	
	body form div div table {
		display: inline-block;
	}
	
	body form div div div.xdrops_continer {
		display: inline-block;
	}

	body form div div {
		display: inline-block;
	}

/* original */


.buttons {
	float: left;
	padding-bottom: 20px;
	clear: both;
}

a.button {
	background: none repeat scroll 0 0 #6ED0D6;
	background: -webkit-gradient(linear,0% 40%,0% 70%,from(#6ED0D6),to(#6ED0D6));
	border: 1px solid #DCDCDC;
	border-radius: 2px 2px 2px 2px;
	color: white;
	display: inline-block;
	font: bold 16px Helvetica,Arial,sans-serif;
	height: 15px;
	padding: 2px 6px 4px 6px;
	position: relative;
	text-decoration: none;
	text-shadow: 0 0 4px #0F9AA1;
	width: 50px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
	border: solid 1px #dcdcdc;
	border-radius: 2px;
	-webkit-transition: border-color .218s;
	-moz-transition: border .218s;
	-o-transition: border-color .218s;
}

a.button:hover {
	color: #333;
	border-color: #999;
	-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

a.button:active {
	color: #000;
	border-color: #444;
}

.enter{
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	color: gray;
	direction: ltr;
	font-family: tahoma;
	font-weight: bold;
	width: 220px;
	margin:0;
}

a{color: black;}
.aya_words a { text-decoration: none; }
a:hover{color: green;}
.select {
	background: url("../images/select.gif") no-repeat scroll left top transparent;
	color: gray;
	font: 13px/17px tahoma;
	height: 40px;
	overflow: hidden;
	padding: 11px 0px 0px 30px;
	position: absolute;
	width: 191px;
	text-align:left;
}
.styled{
	height: 40px;
	margin-right: 3px;
	opacity: 0;
	position: relative;
	width: 130px;
	z-index: 5;
	}
	


.xtitle
{
	color: Gray;
	font: 12px/29px tahoma;
}

.xbutton {
	padding: 7px;
	cursor: pointer;
	font-family: Arial, Geneva, Sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: black;
	min-width: 70px;
	margin: 0 5px 9px 0;
	/* Css3 Effects */
	border-radius:4px ;
	-moz-border-radius:4px ;
	-webkit-border-radius:4px ;
	opacity:0.8;
	filter: alpha(opacity=80); }
	.xbutton:hover,.xbutton:focus {
	outline: 0;
	-webkit-box-shadow:0 0 4px silver;
	-moz-box-shadow:0 0 4px silver;
	opacity:1;
	filter: alpha(opacity=100);
}

.gray {
	background: #ffffff; /* old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* ie */
	text-shadow:0 1px 1px #eeeeee;
	-moz-text-shadow:0 1px 1px #eeeeee;
	-webkit-text-shadow:0 1px 1px #eeeeee;
	border: 1px solid silver;
}

.green {
	background: #007419; /* old browsers */
	background: -moz-linear-gradient(top, #007419 0%, #005011 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007419), color-stop(100%,#005011)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007419', endColorstr='#005011',GradientType=0 ); /* ie */
	text-shadow:0 1px 1px #eeeeee;
	-moz-text-shadow:0 1px 1px #eeeeee;
	-webkit-text-shadow:0 1px 1px #eeeeee;
	border: 1px solid silver;
}

.modal {
	opacity:1;
	position:absolute;
	top:10px;
	left:10px;
	background-color:#fff;
	display:none;
	width:300px;
	padding:15px;
	border:2px solid #333;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-moz-box-shadow: 0 0 50px #ccc;
	-webkit-box-shadow: 0 0 50px #ccc;
}

.modal h2 {
	/*background:url(../images/info.png) 0 50% no-repeat; image missing*/
	margin:0px;
	padding:10px 0 10px 45px;
	border-bottom:1px solid #333;
	font-size:20px;
}

.external,.bo {
	margin:3px;
	border:0
}

.external:hover,.bo:hover {
	margin-left:4px;
}

.optaly {
	color: gray;
	font-size: 12px;
}

.newur {
	margin-left: 27px;
}
.xbre{
	border: 2px solid gray;
	color: #0F9AA1;
	font-family: Times New Roman;
	font-size: 28px;
	font-weight: bold;
	padding: 6px;
	text-shadow:0 0 3px gray;
	-moz-text-shadow:0 0 3px gray;
	-webkit-text-shadow:0 0 3px gray;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
}

.main_re_item
{
	background: url("../images/back_g.gif") repeat scroll 0 0 transparent;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	border:0;
	padding: 5px;
}

.main_re_item_title
{
	background: none repeat scroll 0 0 white;
	border: 1px solid green;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	font-size: 14pt;
	margin: 0 0px 0 15px;
	padding: 6px;
	text-indent: 0;
	box-shadow: 0 0 8px green;
}

/* +some fun */


.awa-box {
	border:0 none;
	display: inline-block;
	margin:0;
	padding:0;
	float: left;
	position: relative;
	top: 20px;
	left: 10px;
	z-index:95;
	text-align:center;
}



.sidebox {

	left:0;
	position: fixed;
	top:0px; /* must override it */

 }

.sidebox a {
	margin-left:-10px;
	line-height:50px;
	padding:0px 0px 0px 10px ;
	font-weight: bold;
	font-size: 15px;
	/*text-align: left;*/
	text-decoration: none;
	background-color: #OOO; /* override it to make different color */
	color: white;
	display: block;
	height: 40px;
	width: 110px;
	cursor: pointer;
}

.feedback-sidebox {
	top:150px;
 }

.feedback-sidebox a {
	background-color: #3AB034; /*#339A63*/
}

.donate-sidebox {
	top:195px;
 }

.donate-sidebox a {
	background-color: #BA3074; /*#339A63*/
}

.translate-sidebox {
	top:240px;
 }

.translate-sidebox a {
	background-color: #3A34B0; /*#339A63*/
}

.contribute-sidebox {
	top:285px;
 }

.contribute-sidebox a {
	background-color: #000000; /*#339A63*/
}

.contact-sidebox {
	top:350px;
 }

.contact-sidebox a {
	background-color: #BDB; 
	color: black;
}

.help-sidebox {
	top:440px;
 }

.help-sidebox a {
	background-color: #BBD; 
	color: black;
}

.faq-sidebox {
	top:395px;
 }

.faq-sidebox a {
	background-color: #DBB; 
	color: black;
}

.download-sidebox {
	top:485px;
 }

.download-sidebox a {
	background-color: #BBB; 
	color: black;
}

.follow-box {
	border:0 none;
	clear:both;
	margin:0;
	padding:0;
	position: fixed;
	top:150px;
	right:0;
	z-index:95;
	width:50px;
	text-align:right;
}



.follow-box a:hover {
	margin-right: 7px;
}

.footer {
	font-family: tahoma;
	font-size: 14px;
	height:20px;
	margin-top:80px;
	text-align: center;
}

#vedio,#vedio3,#vedio4,#vedio5 {
	width:670px
}

.style2
	{
		width: 293px;
	}
	.style3
	{
		width: 227px;
	}
	.style4
	{
		background-color: #CCCCCC;
	}
	.style5
	{
		width: 293px;
		background-color: #CCCCCC;
	}
	.style6
	{
		width: 227px;
		background-color: #CCCCCC;
	}
	.style7
	{
		background-color: #C0C0C0;
	}
	.style8
	{
		width: 293px;
		background-color: #C0C0C0;
	}
	.style9
	{
		width: 227px;
		background-color: #C0C0C0;
	}
	.xdrops_continer{direction:ltr;}

/* Abdellah */


#help_btn {
	/*position: absolute;*/
	top:10px;
	right:0;
	z-index:95;
}

#down_btn {
	/* position: absolute; */
	top:10px;
	right:50px;
	z-index:95;
}

#vote_btn a {
	font-weight: normal;
	text-decoration: none;
	color: #000069;
	padding-left: 20px;
	padding-right: 20px;
}

.runtime {
	color:grey;
	font-size: 12px;
}

.pages img, select {
	cursor:pointer;
}

#suggestions {
	background-color: #ecf7f9;
	margin: 10px 0px 10px 0px;
	padding: 15px 15px 15px 15px;
}

#suggestions a {
	text-decoration: none;
}

#search_words {
	background-color: #ecf7f9;
	margin: 10px 0px 10px 0px;
	padding: 15px 15px 15px 15px;
}

.details_label {
	display: inline;
	font-size: 12px;
	padding: 1px 5px 2px 5px;
	margin: 1px 1px 0px 2px;
}

.word_item {
	margin: 1px 0px 1px 0px;
	padding: 0px 0px 0px 0px;
}

.result_item0 {
	background-color: #EFE;
	margin: 2px 5px 15px 15px;
	padding: 0px 2px 5px 2px;
}

.result_item1 {
	background-color: #DFD;
	margin: 2px 5px 15px 15px;
	padding: 0px 2px 5px 2px;
}

.word_count {
	background-color: #666;
	color: #FFF;
}

.word_info0 {
	background-color: #F50;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
}

.word_stat0 {
	background-color: #888;
	color: #FFF;
}

.word_stat1 {
	background-color: #555;
	color: #FFF;
}


.word_vocalization_nb {
	background-color: #90A;
	color: #FFF;
}

.word_vocalization {
	background-color: #FFF;
	color: #90A;
	padding: 5px 2px 4px 2px;
	/* font-size:100%;*/
}

.word_synonym_nb {
	background-color: #09A;
	color: #FFF;
}

.word_synonym {
	background-color: #FFF;
	color: #09A;
	padding: 5px 2px 4px 2px;
	/* font-size:100%;*/
}

.word_derivation_nb {
	background-color: #A90;
	color: #FFF;
}



.word_annotation_nb {
	background-color: #0A9;
	color: #FFF;	
}

.annotation_details {
	margin:10px 2px 5px 30px;
}

.word_annotation {
	background-color: #0A9;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
}

.word_annotation_info0 {
	background-color: #3BB;
	color: #FFF;
}

.word_annotation_info1 {
	background-color: #7B8;
	color: #FFF;
}

.word_annotation_info2 {
	background-color: #5A9;
	color: #FFF;
}

.word_annotation_info3 {
	background-color: #497;
	color: #FFF;
}

.word_annotation_info4 {
	background-color: #5B4;
	color: #FFF;
}

.word_annotation_info5 {
	background-color: #7D7;
	color: #FFF;
}

.word_annotation_info6 {
	background-color: #088;
	color: #FFF;
}

.item_number {
	background-color: #FFF;
	font-size: 2em;
	font-weight: bold;
	left: -10px;
	padding: 0px 5px 1px 5px;
	position: relative;
	top: -10px;
}

.quran {
	direction: rtl;
	font-family: me_quran, Scheherazade,  KacstBook, KacstQurn, ArabeyesQr, "KFGQPC Uthman Taha Naskh", Arial;

}

.main_aya {
	font-size: 22px;
	margin: 2px 5px 10px 5px;
	color: #000;
}

.prev_aya {
	font-size: 14px;
	margin: 2px 5px 10px 5px;
	color:#666;
}

.next_aya {
	font-size: 14px;
	margin: 2px 5px 10px 5px;
	color:#666;
}

.quran_decoration {
	direction: rtl;
	font-family: ArabeyesQr, Scheherazade;
	line-height: 180%;
	
}

.quran_translation {
	font-family: Droid Sans, Tahoma, Bitstream Vera Sans, DejaVu Sans, Verdana, Geneva, Arial, Sans-serif; 
	line-height: 150%;
	
}


.match {
	color: #181;
}

/* Assem: Terms Static Highlighting colors */
.term0, .term10 { color: #118; }
.term1, .term11 { color: #811; }
.term2, .term12 { color: #807; }
.term3, .term13 { color: #F50; }
.term4, .term14 { color: #f00; }
.term5, .term15 { color: #f39; }
.term6, .term16 { color: #f43; }
.term7, .term17 { color: #660; }
.term8, .term18 { color: #444; }
.term9, .term19 { color: #5C3; }


.word_details, .sura_details, .aya_details, .sura_stat_details, .theme_details {
	margin: 8px 5px 2px 20px;
}

.aya_stat0, .sura_stat1 {
	background-color: #00A;
	color: #FFF;
}

.aya_stat1, .sura_stat2 {
	background-color: #30D;
	color: #FFF;
}

.aya_stat2, .sura_stat3 {
	background-color: #00F;
	color: #FFF;
}

.aya_pos0 {
	background-color: #074;
	color: #FFF;
}

.aya_pos1 {
	background-color: #062;
	color: #FFF;
}

.aya_pos2 {
	background-color: #084;
	color: #FFF;
}

.aya_pos3 {
	background-color: #094;
	color: #FFF;
}

.sura_info0 {
	background-color: #F50;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
}

.sura_info1 {
	background-color: #E80;
	color: #FFF;
}

.sura_stat0 {
	background-color: #90A;
	color: #FFF;
}

.sura_ord0 {
	background-color: #666;
	color: #FFF;
}

.sura_ord1 {
	background-color: #888;
	color: #FFF;
}

.sura_ord1 {
	background-color: #888;
	color: #FFF;
}

.sura_ord1 {
	background-color: #888;
	color: #FFF;
}


.aya_sajda_exist {

	background-color: #E44;
	color: #FFF;
	
}

.aya_sajda_id {
	
	background-color: #C44;
	color: #FFF;
	
}

.aya_sajda_type {
	background-color: #A44;
	color: #FFF;
}

.clickable {
	font-weight: bold;
	border-style:solid;
	border-color:#A0C;
	border-width:2px;
}

.filter {
	
	border-color:#000;
	
}

.no_decoration {
	text-decoration:none;
		
}

.page_link {
				color: blue;
			}





/* Assem: Error, NotFound */
.notfound {
	margin: 30px 30px 30px 30px;
}

.error {
	margin: 30px 30px 30px 30px;

}


/* Abdellah AD.*/


.left {
    float: left;
}

img.left {
    margin-right: 10px;
}

.right {
    float: right;
}

img.right {
    margin-left: 10px;
}

.justify {
	text-align: justify;
}



/* Footer*/


div#footer-big-wrapper {
    font-family: 'Droid Sans',Georgia, Arial, sans-serif;
    height: 303px;
    background-image: url('../images/footer.png');
    clear: both;
    color: #aaa;
}

div#footer-big-wrapper a {
    text-decoration: none;
    color: #aaa;
}

div#footer-big-wrapper a:hover {
    text-decoration: none;
    color: #fff;
}

div#footer-big {
    height: 303px;
    width: 960px;
    margin: auto;
    font-size: 11px;
    text-shadow: 0px 1px 1px #000;
    background-image: url('../images/footer-bg.png');
    background-position: center;
    background-repeat: no-repeat;
}

div#footer-big div.column {
    float: left;
    width: 180px;
    padding: 20px 20px 20px 0;
}

div#footer-big div.last {
    padding: 20px 0 20px 60px;
    width: 370px;
}

div#footer-big div.last img {
    margin-bottom: 5px;
}

/* Abdellah only1 */
div#footer-big div.last p:last-child {
	line-height: 150%;
}

div#footer-big h1 {
    color: #aaa;
    font-size: 16px;
    margin-bottom: 20px;
    text-shadow: none;
}

div#footer-big ul {
    width: 150px;
}

div#footer-big ul li {
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #2e353d;
}

div#footer-big ul li.last {
    border-bottom: 1px solid #2e353d;
}

div#footer-small-wrapper {
    font-family: 'Droid Sans',Georgia, Arial, sans-serif;
    height: 30px;
    background-color: #000;
    border-top: 1px solid #2e353d;
    color: #aaa;
    font-size: 11px;
    


}

div#footer-small {
    width: 960px;
    margin: auto;
    line-height: 30px;

}

div#footer-small a {
    text-decoration: none;
    color: #fff;
}

div#footer-small a:hover {
    text-decoration: underline;
}


/* tedj: header style */
div#alfanousheader {
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
background: #222;
position: fixed;
height: 30px;
width: 100%;
text-align: left;
z-index: 9999;
-webkit-font-smoothing: subpixel-antialiased;
}

div#alfanousheader ul {
padding: 0 5px;
}

div#alfanousheader li {
float: left;
position: relative;
margin-right: 4px;

list-style-type: none;
line-height: normal;
padding: 0;

margin-bottom: 0;
}

div#alfanousheader li a {
position: relative;
display: block;
padding: 5px 7px 6px 4px;
font-size: 16px;
color: #BBB;
border-right: 1px solid #222;
text-decoration: none; 
}

div#alfanousheader li a:hover {
color: white;
}

div#alfanousheader li span {
position: relative;
display: block;
padding: 5px 7px 6px 4px;
font-size: 16px;
color: white;
border-right: 1px solid #222;
text-decoration: none; 
}


/*  01walid: right top menu */

nav {
	text-align: center;
	margin-right: 50px;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}

nav ul:after {
	content: "";
	clear: both;
	display: block;
}

nav ul li {
	float: right;
}

nav ul li a {
	display: block;
	color: #757575;
	text-decoration: none;
}
			
		
nav ul ul {
	background: rgb(34, 34, 34);
	padding: 0;
	position: absolute;
	top: 100%;
}

nav ul ul li {
	float: right; 
	position: relative;
}

nav ul ul li a {
	padding: 15px 40px;
	color: #fff;
}	
		
nav ul ul ul {
	position: absolute;
	left: 100%; top:0;
}
		
