/* === Import font === */
@import url(http://fonts.googleapis.com/css?family=Share:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

/* === STYLE === */
* {
	margin: 0;
}

html, body
{

	padding: 0;
	width: 100%;
	height: 100%;
}
body
{
	/*background: #020202;*/
	background-image:url(./404.jpg);
	background-position: center center;
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-size: cover; 
	-moz-background-size: 100% 100%;     /* Gecko 1.9.2 (Firefox 3.6) */
	-o-background-size: 100% 100%;        /* Opera 9.5 */
	-webkit-background-size: 100% 100%;   /* Safari 3.0 */
	background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) > CSS3 */ 
	overflow:hidden
}

h5
{
	color:white;
}
.wrap
{

}

/* === HEADER SECTION === */
.wrap_header{
	
}

/* === CONTENT SECTION === */
.wrap_content{
	margin: 0px auto;

	padding-top: 150px;
	text-align: center;
	z-index: 1;
}
.wrap_content h1{
	color: #000;
	font-size: 22px;
    text-shadow: 1px 1px #fff

}

.wrap_content h2{
	color: #ffffff;
	font-size: 32px;
    text-shadow: 2px 2px #000

}

.wrap_content p{
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 23px;
	font-weight: bold;
}

.wrap_content a{
	color: #fff;
	text-decoration: none;

    text-shadow: 2px 2px #000
    
}

.wrap_content a:hover{
	color: #eeeeff;
    text-decoration: underline;  
    text-shadow: 2px 2px #000
    
    
    
}


